html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#main{
    min-width: 100%;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#main {
      min-width: 100%;
      display: grid;
      grid-template-areas: 
      "card1 card2"
      "card3 card4";
      
  }

  .card1{
    grid-area: card1;
  }

  .card2{
    grid-area: card2;
  }

  .card3{
    grid-area: card3;
  }
  .card4{
    grid-area: card4;
  }

.footer_sosmed{
    background-color: #8D9EFF;
  }

.footer_a{
      background-color: #6C4AB6;
}