html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app-bar {
  padding: 8px 16px;
  background-color: #8d9eff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand .logo {
  display: flex;
  align-items: center;
  width: 80px;
}

.app-bar .app-bar__brand h1 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #8d9eff;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 380px;
  width: 100%;
  margin-bottom: 50px;
}

.heroimg {
  background-image: url('../img/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroinner {
  margin: 0 auto;
  max-width: 800px;
}

.herotitle {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  text-shadow: 1px 1px #141414;
}

.herosubtitle {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414;
}

.footer_sosmed {
  background-color: #8d9eff;
}

.footer_a {
  background-color: #6c4ab6;
}