@media screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
   bottom: 370px;
  } 

  .carousel-caption p {
   width: 100%;
  }
}

@media screen and (max-width: 767px) {
   
   .carousel-caption {
       bottom: 125px;
   }

   .carousel-caption h5 {
       padding: 10px 15px;
       font-size: 15px;
   }

   .carousel-caption a {
       padding: 10px 15px;
   }

   .carousel-caption p {
       width: 100%;
       line-height: 1.6;
       font-style: 12px;
   }
}

@media(max-width: 920px){
    .job_card {
      display: grid;
      grid-template-columns: 1fr;
      gap:40px;
      grid-template-areas:
      "img img"
      "info info"
      "description description";
    }
    .job_img {
      width: 100%;
      border-radius: 5px;
      grid-area: img;
      margin-left: 0;
    }
  }
  
  @media(max-width: 690px){
    .job_card {
      display: grid;
      grid-template-columns: 1fr;
      gap:40px;
      grid-template-areas:
      "img img"
      "info info"
      "description description";
    }
  
    .job_img {
      width: 100%;
      border-radius: 5px;
      grid-area: img;
      margin-left: 0;
    }
  }