@media screen and (max-width: 320px) {
  .menu-item {
      background-color: #8D9EFF!important;
      text-align: left;
      padding: 25px;
      margin-top: 15px;
      margin-right: -10px;
      align-items: center;
      
  }

}